p.p_num {
	width: 78px;
	height: 24px;
	border-top: solid 1px #d0d0d0;
	position: relative;
	border-bottom: solid 1px #d0d0d0;
	margin-top: -3px;
}

span.sy_minus,span.sy_plus {
	width: 15px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	display: block;
	position: absolute;
	top: 0px;
	font-size: 14px;
	border: solid 1px #d0d0d0;
	background: #ebebeb;
	cursor: pointer;
	border-top: none;
	border-bottom: none;
}

span.sy_minus {
	left: 0px;
}

span.sy_plus {
	right: 0px;
}

input.sy_num {
	width: 44px;
	height: 18px;
	line-height: 24px;
	text-align: center;
	position: absolute;
	top: 0px;
	left: 17px;
}

span.sy_num {
	padding: 5px 8px;
	border: solid 1px #d0d0d0;
	border-left: none;
	border-right: none;
	cursor: pointer;
}

#ImageNav3 li{
	margin: 0px 0px 0px 30px;                       /* margin 左边框30像素*/
	padding:0px 0px 0px 5px;                        /* 上、右、下、左 */
	list-style-type:none;
	line-height:48px;                               /* 行间距 */
	text-indent:48px;                               /* 文字缩进48像素，避免与图表重叠 */
	background-image:url('../img/17_48x48.png');    /* 背景图片充当列表符号图像 */
	background-repeat:no-repeat;                    /* 背景样式不重复 */
}

