{% extends "base.html" %}
{% block testimonials %}
<!-- testimonials -->
<!--<form method="POST" action="/api/neworder/">-->
<div id="testimonials" class="testimonials">
	<!-- container -->
	<div class="container">
		<div class="testimonials-info">
			<h3>个性化菜单</h3>
		</div>
		<div class="testimonials-grids">
			<style>
.gg {
	background-color: rgb(164, 201, 94);
}
			</style>
			<script src="/static/jquery.js"></script>
			<script src="/static/js/responsiveslides.min.js"></script>
			<script src="/static/js/jquery.steps.min.js"></script>
			<script>

// You can also use "$(window).load(function() {"
			$(function () {
					// Slideshow 4
					$("#slider3").responsiveSlides({
auto: true,
pager: true,
nav: false,
namespace: "callbacks",
before: function () {
$('.events').append("<li>before event fired.</li>");
},
after: function () {
$('.events').append("<li>after event fired.</li>");
}
});

					$(".add").click(function() {
						n = parseInt($(this).prev().val());
						if(isNaN(n) || n<0) n=1;
						else n=n+1;
						$(this).prev().val(n);
						unit = $(this).siblings(".unit").val();
						$(this).siblings(".price").text(n*unit);
						});

$(".min").click(function() {
		n = parseInt($(this).next().val());
		if(isNaN(n) || n<1) n=0;
		else n=n-1;
		$(this).next().val(n);
		unit = $(this).siblings(".unit").val();
		$(this).siblings(".price").text(n*unit);
		});

$(".prev").click(function() {
		$(".callbacks_here").prev().children().click();
		});

$(".next").click(function() {
		$(".callbacks_here").next().children().click();
		});

$(".confirm").click(function() {
		// calculate total bill
		var sum = 0;
		$(".price").each(function() {
			sum += parseInt($(this).text());
			});
		if (sum <= 0) {
		alert("不许胡闹哟～");
		return false;
		}

		// calculate details
		var order = '\n';
		var postdata = new Object;
		postdata['cal'] = 0;
		postdata['pro'] = 0;
		postdata['fat'] = 0;
		postdata['car'] = 0;

		$(".cate-id").each(function(){
			var id = $(this).html();
			postdata[id] = new Object;
			postdata[id]['name'] = $(this).siblings(".cate-name").html();
			postdata[id]['item'] = new Array;
			})
		$(".item-name").each(function(){
			var num = $(this).parent().siblings(".text-box").val();
			if (num > 0) {
			var id = $(this).parents(".testimonials-grid").children(".cate-id").html();
			var name = $(this).html();
			var sid = $(this).parent().siblings(".text-box").attr("name");
			var unit = $(this).parent().siblings(".unit").val();
			var tmp = new Object;
			tmp['sid'] = sid;
			tmp['name'] = name;
			tmp['num'] = parseInt(num);
			tmp['unit'] = parseInt(unit);
			postdata[id]['item'].push(tmp);
			postdata['cal'] += num * $(this).parent().siblings(".cal").val();
			postdata['pro'] += num * $(this).parent().siblings(".pro").val();
			postdata['fat'] += num * $(this).parent().siblings(".fat").val();
			postdata['car'] += num * $(this).parent().siblings(".car").val();
			}
			});
		postdata['price'] = sum;
		var prefix = '你忘了点 '
			var suffix = ', 确定继续么？';
		var mid = '';
		$(".cate-id").each(function(){
				var id = $(this).html();
				if (postdata[id]['item'].length == 0)
				mid += postdata[id]['name'] + ' ';
				})
		if (mid.length > 0) {
			<!--alert(JSON.stringify(postdata))-->
				if (!confirm(prefix + mid + suffix)) {
					return false;
				}
		}
		$.ajax({
type:'POST',
url:'/api/neworder/',
data:JSON.stringify(postdata),
contentType: "application/json",
success:function(result){
$(buttons).remove();
$(testimonials).html(result);
},
error:function(e){
alert('!!!\n' + JSON.stringify(e));
}
});

});

});

			</script>

			<div id="top" class="callbacks_container">
				<ul class="rslides" id="slider3">
					{% for cate in data %}

					<li>
					<div class="testimonials-grid">
						<div class="cate-id" style="display:none">{{cate.id}}</div>
						<p><span><h1 class="cate-name">{{cate.name}}</h1></span></p><br><br>

						<div class="row">
							{% for item in cate.item %}
							<div class="col-sm-4">
								<img src="/static/images/{{item.pic}}" alt="" />
								<p><span class="item-name">{{item.name}}</span></p>
								<input class="min" name="" type="button" value="-" />
								<input class="text-box" name="{{item.sid}}" type="text" value="0" style="width:25px;" readonly="readonly"/>
								<input class="add" name="" type="button" value="+" />
								&nbsp;&nbsp;&nbsp;￥<span class="price">0</span>
								<input class="unit" type="hidden" value={{item.unit}} />
								<input class="cal" type="hidden" value={{item.cal}} />
								<input class="pro" type="hidden" value={{item.pro}} />
								<input class="fat" type="hidden" value={{item.fat}} />
								<input class="car" type="hidden" value={{item.car}} />
								<br><br>
							</div>
							{% endfor %}
						</div>

					</div>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<!-- //container -->
</div>
<div class="banner-button green-button row" align="center" id="buttons">
	<div class="col-xs-3"></div>
	<div class="col-xs-2">
		<a class="prev gg">往前</a></div>
	<div class="col-xs-2">
		<!--<a href="#testimonials" class="confirm gg">点好啦~</a>-->
		<a class="confirm gg">点好啦~</a>
	</div>
	<div class="col-xs-2">
		<a class="next gg">往后</a></div>
</div>
<div class="col-xs-3"></div>
<!-- //testimonials -->
{% endblock %}
