{% extends "base.html" %}
{% block testimonials %}
<!-- testimonials -->
<!--<form method="POST" action="/api/neworder/">-->
<div id="testimonials" class="testimonials">
	<!-- container -->
	<div class="container">
		<div class="testimonials-info">
			<h3>个性化菜单</h3>
		</div>
		<div><br><br></div>
		<div class="banner-button green-button row" align="center" id="buttons">
			<div class="col-md-4" style="text-align:right">
				<a class="prev gg">往前</a></div>
			<div class="col-md-4">
				<a class="confirm gg">点好啦~</a>
			</div>
			<div class="col-md-4" style="text-align:left">
				<a class="next gg">往后</a></div>
		</div>
		<div class="testimonials-grids">
			<style>
.gg {
	background-color: rgb(164, 201, 94);
}
			</style>
			<script src="/static/jquery.js"></script>
			<script src="/static/js/responsiveslides.min.js"></script>
			<script src="/static/js/jquery.steps.min.js"></script>
			<script src="static/js/index.js"></script>
			<script src="/static/metro/metro.js"></script>
			<link href="/static/metro/metro.css" rel="stylesheet">

			<div id="top" class="callbacks_container">
				<ul class="rslides" id="slider3">
					{% for cate in data %}

					<li>
					<div class="testimonials-grid">
						<div class="cate-id" style="display:none">{{cate.id}}</div>
						<p><span><h1 class="cate-name">{{cate.name}}</h1></span></p><br><br>

						<div class="row">
							{% for item in cate.item %}
							<div class="col-sm-4">
								<!--<img src="/static/images/{{item.pic}}" alt="" />-->

								<div class="image-container">
									<div class="frame">
										<img src="/static/images/{{item.pic}}">
									</div>
									<div class="image-overlay op-green">
										<table>
											<thead>
												<tr>
													营养
												</tr>
												<tr><td><br></td></tr>
											</thead>
											<tbody>
											{% for v in item.vari[:1] %}
											<tr>
												<td>卡路里</td>
												<td>:&nbsp;</td>
												<td class="cal">{{v.cal}}</td>
											</tr>
											<tr>
												<td>蛋白质</td>
												<td>:&nbsp;</td>
												<td class="pro">{{v.pro}}</td>
											</tr>
											<tr>
												<td>脂肪</td>
												<td>:&nbsp;</td>
												<td class="fat">{{v.fat}}</td>
											</tr>
											<tr>
												<td>CHO</td>
												<td>:&nbsp;</td>
												<td class="car">{{v.car}}</td>
											</tr>
											{% endfor %}
											</tbody>
										</table>
									</div>
								</div>

								<p>
								<span class="item-name">
									{{item.name}}
								</span>
								<select class="variopt">
									{% for v in item.vari %}
									<option value={{v.id}} >{{v.name}}</option>
									{% endfor %}
								</select>
								</p>
								<input class="min" name="" type="button" value="-" />
								<input class="text-box" name="{{item.sid}}" type="text" value="0" style="width:25px;" readonly="readonly"/>
								<input class="add" name="" type="button" value="+" />
								&nbsp;&nbsp;&nbsp;￥<span class="price">0</span>
								<input class="unit" type="hidden" value={{item.unit}} />
								{% for v in item.vari[:1] %}
								<input class="cal" type="hidden" value={{v.cal}} />
								<input class="pro" type="hidden" value={{v.pro}} />
								<input class="fat" type="hidden" value={{v.fat}} />
								<input class="car" type="hidden" value={{v.car}} />
								{% endfor %}
								<br><br>
							</div>
							{% endfor %}
						</div>

					</div>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<!-- //container -->
</div>
<!-- //testimonials -->
{% endblock %}
