{% extends "base.html" %}
{% block testimonials %}
<!-- testimonials -->
<form name="order" method="post" action="/api/neworder/">
	<div id="testimonials" class="testimonials">
		<!-- container -->
		<div class="container">
			<div class="testimonials-info">
				<h3>Testimonials</h3>
			</div>
			<div class="testimonials-grids">
				<script src="/static/jquery.js"></script>
				<script src="/static/js/responsiveslides.min.js"></script>
				<script>

// You can also use "$(window).load(function() {"
				$(function () {
						// Slideshow 4
						$("#slider3").responsiveSlides({
auto: false,
pager: true,
nav: false,
namespace: "callbacks",
before: function () {
$('.events').append("<li>before event fired.</li>");
},
after: function () {
$('.events').append("<li>after event fired.</li>");
}
});

$(".add").click(function() {
		n = parseInt($(this).prev().val());
		if(isNaN(n) || n<0) n=1;
		else n=n+1;
		$(this).prev().val(n);
		unit = $(this).next("span").next("input").val();
		$(this).next("span").text(n*unit);
		});

$(".min").click(function() {
		n = parseInt($(this).next().val());
		if(isNaN(n) || n<1) n=0;
		else n=n-1;
		$(this).next().val(n);
		unit = $(this).next("input").next("input").next("span").next("input").val();
		$(this).next("input").next("input").next("span").text(n*unit);
		setTotal();
		});

$(".confirm").click(function(){
		// calculate total bill
		var sum = 0;
		$(".price").each(function(){
			sum += parseInt($(this).text());
			});

		// calculate details
		var order = '\n';
		$(".item-name").each(function(){
			order += '\n' + $(this).html() + ' x ';
			order += $(this).parent().next().next().next(".text-box").val();
			});
		var info = '你确定提交订单吗？\n\n总价:\t';
		info += sum;
		if (confirm(info + order)) {
			return true;
		} else
			return false;
		});

						});
				</script>
				<div  id="top" class="callbacks_container">
					<ul class="rslides" id="slider3">
						{% for cate in data %}

						<li>
						<div class="testimonials-grid">
							<p><span><h1>{{cate.name}}</h1></span></p><br><br>

							{% for item in cate.item %}
							<p>
							<img src="/static/images/{{item.pic}}" alt="" />
							<p><span class="item-name">{{item.name}}</span></p><br>
							<input class="min" name="" type="button" value="-" />
							<input class="text-box" name="{{item.sid}}" type="text" value="0" style="width:25px;" />
							<input class="add" name="" type="button" value="+" />
							&nbsp;&nbsp;&nbsp;￥<span class="price">0</span>
							<input class="" type="hidden" value={{item.price}} />
							</p>
							{% endfor %}

						</div>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		<!-- //container -->
	</div>
	<div align="center">
		<input type="submit" value="点好啦~" class="confirm">
	</div>
</form>
<!-- //testimonials -->
{% endblock %}
