<html>
<head>
<script src="{{url_for('static', filename='jquery.js')}}"></script>
<script src="{{url_for('static', filename='myFunc.js')}}"></script>
</head>
<body>

<form name="order" method="post" action="/api/neworder">
	<table id="tb" border="0">
		<tr id="bread"		><td>面包</td></tr><tr/>
		<tr id="meatpie"	><td>肉饼</td></tr><tr/>
		<tr id="vegetable"	><td>蔬菜</td></tr><tr/>
		<tr id="cheese"		><td>芝士</td></tr><tr/>
		<tr id="sauce"		><td>酱料</td></tr><tr/>
		<tr id="other"		><td>其他</td></tr><tr/>
		<tr id=><td/><input type="submit" value="点好啦" onclick="done();" /></tr>
	</table>
</form>

</body>
</html>

